name: Deploy to ECS
on: [push, pull_request]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Login to ECR
      uses: aws-actions/amazon-ecr-login@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        region: us-east-1

    - name: Build & Push
      env:
        REGISTRY: ${{ steps.login-ecr.outputs.registry }}
      run: |
        docker build -f api/Dockerfile -t $REGISTRY/portfolio-api:${{ github.sha }} ./api/
        docker push $REGISTRY/portfolio-api:${{ github.sha }}
        
    - name: Deploy ECS
      run: |
        aws ecs update-service \
          --cluster portfolio-cluster \
          --service portfolio-service \
          --force-new-deployment \
          --region us-east-1
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_DEFAULT_REGION: us-east-1
