name: Deploy to ECS
on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Configure AWS CLI
      uses: aws-actions/amazon-ecr-login@v2
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_DEFAULT_REGION: us-east-1

    - name: Build and Push
      run: |
        aws ecr get-login-password --region us-east-1 | docker login --username AWS --password-stdin $(aws ecr describe-repositories --repository-names portfolio-api --region us-east-1 --query 'repositories[0].registryId' --output text).dkr.ecr.us-east-1.amazonaws.com
        docker build -t portfolio-api ./api/
        docker tag portfolio-api:latest $(aws ecr describe-repositories --repository-names portfolio-api --region us-east-1 --query 'repositories[0].registryId' --output text).dkr.ecr.us-east-1.amazonaws.com/portfolio-api:latest
        docker push $(aws ecr describe-repositories --repository-names portfolio-api --region us-east-1 --query 'repositories[0].registryId' --output text).dkr.ecr.us-east-1.amazonaws.com/portfolio-api:latest

      env:
        AWS_ACCESS_KEY_ID: ${{
